<section class="row">
  <div class="col">
    <h2 id="desafio_stocks">Desafío Stocks</h2>
    <p>Descripción del desafío</p>
    <form>
      <div class="form-group">
        <label for="stocks_input">Stocks separados por coma</label>
        <input #stocks_input id="stocks_input" class="form-control" type="text" placeholder="Precios">
        <small id="emailHelp" class="form-text text-muted">* Los precios deben ser enteros separados por coma, está sin validación.</small>
      </div>
      <div class="form-group">
        <label for="stocks_result">Resultado</label>
        <input id="stocks_result" type="text" class="form-control" readonly [(ngModel)]="result" name="result">
      </div>
      <button id="stocks_process" type="button" class="btn btn-primary" (click)="showResult(stocks_input.value)">Buscar máxima ganancia</button>
    </form>
  </div>
</section>
